/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
/.DS_Store
/Thumbs.db
/*.sublime-project
/*.sublime-workspace
.idea
.project
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
auth.json
composer.phar
error.log
/storage/debugbar*
/public_html/frontend/*
/public_html/backend/*
/public_html/images/*
/public_html/blogs/*
/public_html/build/*
/public_html/caches/*
public_html/adsv1
test_image_compress.js
/*/.DS_Store
/*/*/.DS_Store
/*/*/*/.DS_Store
/*/*/*/*/.DS_Store
/*/*/*/*/*/.DS_Store

public_html/test
/config/custom_info.php

phpunit.phar